:root {
    --color-background: #F8F5F2;
    --color-text: #3D3D3D;
    --color-black: #1a1a1a;
    --color-accent: #B08968;
}

.btn-primary {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #9a7450;
    border-color: #9a7450;
}

/* --- HERO (PARALLAX) --- */
#hero {
    position: relative;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-top: -90px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    will-change: transform;
}

.hero-content {
    z-index: 2;
}

.hero-content h1 {
    font-size: 5rem;
    color: white;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 1rem auto 2rem;
}

/* --- STORY --- */
#story img {
    height: 500px;
    object-fit: cover;
}

/* --- CSS CAROUSEL--- */
.sc-container {
    overflow: hidden; 
    padding: 1rem 0;
    display: flex;
}

.sc-track {
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    animation: scroll 30s linear infinite;
    padding-right: 1.5rem;
}

.sc-container:hover .sc-track {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.sc-item {
    flex: 0 0 300px;
    width: 300px;
    transition: transform 0.3s ease;
}

.sc-item:hover {
    transform: translateY(-5px);
}

.sc-item .card-img-top {
    height: 250px;
    object-fit: cover;
}

.sc-item .card-body {
    text-align: center;
}

/* --- CATEGORIES PRODUCT --- */
.category-card {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.category-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease;
}

.category-card:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.category-card h3 {
    font-size: 2.5rem;
    color: white;
    z-index: 2;
}